<tr id="<%= dom_id friend %>">
      <th scope="row"><%= link_to "#{friend.first_name} #{friend.last_name}", edit_friend_path(friend) %></th>
      <td><%= friend.email %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.twitter %></td> 
      <%# if friend.user == current_user %>
      <td><%= button_to "Delete", friend, method: :delete, class:"btn btn-outline-danger btn-small" %></td>
      
      <%# else %>

      <%# <td></td> %>
      <%# <td></td> %>

      <%# end %>
</tr>